body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    background: #f6eeda;
}

header {
    background: #e41010;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

a:hover {
            transform: scale(1.1);
            font-weight: 700;
            color: yellow;
            transition: ease-in-out .4s;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 2rem;
    color:#b10303;
}

h3 {
    text-align: center;
    margin-top: 20px;
    color:#b10303;
     margin-bottom: 2rem;
}

#p1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 15px;
}

h3{
    text-align: center;
    margin-block: 15px;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

nav a {
    margin: 14px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.area-login {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.login-box {
    width: 350px;
    background: #f6eeda;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid #e41010;
}


.titulo-box {
    background: #e41010;
    padding: 18px 0;
    text-align: center;
}

.titulo-box h2 {
    color: white;
    font-size: 26px;
    margin: 0;
}

form {
    padding: 22px;
}

form label {
    color: #b10303;
    font-weight: 700;
    font-size: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 6px 0 18px;
    border: none;
    border-radius: 6px;
    background: white;
    font-size: 15px;
}

form button {
    width: 100%;
    padding: 12px;
    background: #e41010;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.cadastro-texto {
    text-align: center;
    margin-top: 14px;
    color: black;
    font-size: 14px;
}

.cadastro-texto a {
    color: #e41010;
    font-weight: 700;
    text-decoration: none;
}

#img {
    width: 42vh;
    height: 50vh;
    border-radius: 10px;
    margin: 60px 60px;
    border: 6px solid #e41010;
}


.conteudo2{
    display:flex;
    margin: 60px 60px;
    align-items: center; 
    max-width: 1220px;
    margin-inline: auto;
}

.conteudo{
    display:flex;
    margin: 60px 60px;
    align-items: center; 
    max-width: 1220px;
    margin-inline: auto;
}

.divider{
    height: 2px;
    background: #e41010;
    margin: 4rem 4rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin: 200px;
  align-items: center;
}

.card {
  text-align: center;
}

.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  padding: 8px;
  border-radius: 50%;
  align-items: center;

}

.nome {
  margin-top: 10px;
  font-weight: 600;
  color:#b10303
}

.arroba {
  font-size: 14px;
  color:#b10303
}
 strong{
    color: #b10303;
 }
