body {
    margin: 0;
    font-family: 'Montaser Arabic', sans-serif;
    background: #f6eeda;
}

div{
color:#e41010;
}

header {
    background: #e41010;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

.logo {
    height: 50px;
    margin-right: 20px; 
}

nav a {
    margin: 14px;
    color: white;
    text-decoration: none;
    font-size: 16px;

}

nav {
    text-align: center;
}


nav a:hover {
    color:#e41010;
    background-color: yellow;
    border-radius: 20px;
    transition: 2s;
}

.logo {
    font-size: 24px;
    margin-right: 20px;
}

.area-login {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.login-box {
    width: 260px;
    padding: 20px;
    background: white;
    border: 3px solid red;
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    margin: 0 0 10px;
}

input {
    width: 90%;
    padding: 7px;
    margin-bottom: 12px;
    border-radius: 8px; 
}

button {
    width: 95%;
    padding: 7px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
}

button:hover {
    opacity: 0.8;
}

.cadastro-texto {
    margin-top: 8px;
    font-size: 13px;
}